.App {
  text-align: center;
  padding-top: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden { display:none; }

ul.navbarlistfreq {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100%;
}

ul.navbarlist > li {
  float: left;
  border-right: 1px solid #bbb;
}

ul.navbarlistfreq > li {
  float: left;
  border-right: 1px solid #bbb;
  color: blue;
}

ul.navbarlist > li > a {
  display: block;
  padding: 8px;
  background-color: #333;
}

ul.navbarlist > li a:hover {
  background-color: #111;
}

ul.navbarlist > li:last-child {
  border-right: none;
}

.error {
    color: red;
}

.success {
    color: green;
}
